{% extends "core/base.html" %}
{% load i18n %} {% load static %} {% load jformat %}

{% block title %}{% trans "تارنگار" %}{% endblock %}

{% block content %}
<main>
  <section class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="bg-success bg-opacity-10 text-center rounded-3 p-4"> 
            <h1 class="text-success">{% trans "تارنگار" %}</h1>
            <nav class="d-flex justify-content-center" aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dots mb-0">
                <li class="breadcrumb-item"><a href="{% url 'core:home' %}"><i class="bi bi-house me-1"></i> {% trans "خانه" %}</a></li>
                <li class="breadcrumb-item active">{% trans "تارنگار" %}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="position-relative pt-0">
    <div class="container" data-sticky-container>
      <div class="row">
        <div class="col-lg-9">
          <div class="row gy-4">
            
            {% for post in posts %}
            <div class="col-sm-6">
              <div class="card">
                <div class="position-relative">
                  <img class="card-img" src="{{ post.photo.url }}" alt="">
                  <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                    <div class="w-100 mt-auto">
                      <a href="javascript:void(0)" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ post.category }}</a>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 pt-3">
                  <h4 class="card-title"><a href="{% url 'blog:post-detail' post.pk %}" class="btn-link text-reset">{{ post }}</a></h4>
                  <p class="card-text">{{ post.content|striptags|truncatewords:30 }}</p>
                  <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                    <li class="nav-item">
                      <div class="nav-link">
                        <div class="d-flex align-items-center position-relative">
                          <div class="avatar avatar-xs">
                            <img class="avatar-img rounded-circle" src="{% if post.author.profile.avatar %}{{ post.author.profile.avatar.url }}{% else %}https://robohash.org/{{ post.author.id }}{% endif %}" alt="">
                          </div>
                          <span class="ms-3"><i class="fas fa-edit"></i> <a href="javascript:void(0)" class="stretched-link text-reset btn-link">{{ post.author }}</a></span>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item"><i class="far fa-calendar-alt"></i> {{ post.updated|jformat:"%Y/%m/%d" }}</li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
            
            {% include "blog/partials/_pagination.html" %}
            
          </div>
        </div>
        
        <div class="col-lg-3 mt-5 mt-lg-0">
          <div data-sticky data-margin-top="80" data-sticky-for="767">
            <div>
              <h4 class="mb-3">{% trans "دسته‌بندی" %}</h4>
              
              {% for category in categories %}
              {% if forloop.counter <= 5 %}
              <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="background-image:url({% if category.photo %}{{ category.photo.url }}{% endif %}); background-position: center left; background-size: cover;">
                <div class="bg-dark-overlay-4 p-3">
                  <a href="javascript:void(0)" class="stretched-link btn-link text-white h5">{{ category }}</a>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              
              <div class="text-center mt-3">
                <a href="pjavascript:void(0)" class="text-body-secondary text-primary-hover"><u>{% trans "مشاهده همه" %}</u></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-12">
                <h4 class="mt-4 mb-3">{% trans "آخرین تارنوشت‌ها" %}</h4>
                {% for post in latest_posts %}
                {% if forloop.counter <= 4 %}
                <div class="card mb-3">
                  <div class="row g-3">
                    <div class="col-4">
                      <img class="rounded" src="{{ post.photo.url }}" alt="">
                    </div>
                    <div class="col-8">
                      <h6><a href="{% url 'blog:post-detail' post.pk %}" class="btn-link stretched-link text-reset">{{ post }}</a></h6>
                      <div class="small mt-1">{{ post.updated|jformat:"%Y/%m/%d" }}</div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              <div class="col-12 col-sm-6 col-lg-12 my-4">
                <a href="javascript:void(0)" class="d-block card-img-flash">
                  <img src="{% static 'images/adv.png' %}" alt="">
                </a>
                <div class="smaller text-end mt-2"><a href="{% url 'core:contact' %}"><u>{% trans "سفارش" %}</u></a> {% trans "تبلیغ در سایت" %}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
